@use '@xui/theme-core';

:host {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-menu {
  display: flex;
  gap: 12px;
  padding: 0 12px;

  @include theme-core.fill(tertiary);

  h6 {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid theme-core.modifier-accent();
}

.content {
  flex: 2 0 0;
  min-height: 0;
  @include theme-core.fill(accent);
}

.preview {
  border-top: 1px solid theme-core.modifier-accent();
}

xui-sider {
  border-left: 1px solid theme-core.modifier-accent();
  border-right: 1px solid theme-core.modifier-accent();
}
