<xui-layout>
  <xui-header class="main-menu">
    <xui-icon icon="home-outline"></xui-icon>
    <h6>Theme Designer</h6>
    <div class="spacer"></div>

    <xui-button><xui-icon icon="content-save"></xui-icon> Save</xui-button>
    <xui-button>Load</xui-button>
    <xui-button type="raised" shine><xui-icon icon="export"></xui-icon> Export</xui-button>
  </xui-header>
  <xui-layout>
    <xui-sider [width]="300">
      <app-theme-sidebar></app-theme-sidebar>
    </xui-sider>
    <xui-content>
      <xui-layout>
        <xui-header class="sub-menu">
          <div></div>

          <xui-button-group size="small" type="raised">
            <xui-button [color]="isPreview ? 'success' : 'primary'" (click)="changeMode(true)">Preview</xui-button>
            <xui-button [color]="isPreview ? 'primary' : 'success'" (click)="changeMode(false)">Edit</xui-button>
          </xui-button-group>

          <div></div>
        </xui-header>
        <xui-content class="content theme-preview">
          <app-overview [selectable]="!isPreview"></app-overview>
        </xui-content>
        <xui-content class="preview" *ngIf="isEditing">preview</xui-content>
      </xui-layout>
    </xui-content>
    <xui-sider [width]="300" *ngIf="isEditing">Sider</xui-sider>
  </xui-layout>
</xui-layout>
