<app-example>
  <xui-checkbox>Checkbox</xui-checkbox>
  <xui-checkbox disabled>Disabled</xui-checkbox>
  <xui-checkbox [value]="true" disabled>Disabled & Checked</xui-checkbox>
  <xui-checkbox [formControl]="checkbox">Async changed</xui-checkbox>
</app-example>

<app-example>
  <div style="display: flex; gap: 4px">
    <xui-checkbox color="primary" value="true"></xui-checkbox>
    <xui-checkbox color="primary-alt" value="true"></xui-checkbox>
    <xui-checkbox color="secondary" value="true"></xui-checkbox>
    <xui-checkbox color="success" value="true"></xui-checkbox>
    <xui-checkbox color="error" value="true"></xui-checkbox>
    <xui-checkbox color="warning" value="true"></xui-checkbox>
  </div>
</app-example>
