<div class="flex-container">
  <xui-button color="primary" type="normal" [onClick]="work">Normal</xui-button>
  <xui-button color="primary" type="raised" [onClick]="work">Raised</xui-button>
  <xui-button color="primary" type="dashed" [onClick]="work">Dashed</xui-button>
  <xui-button color="primary" type="stroked" [onClick]="work">Stroked</xui-button>
  <xui-button color="primary" type="fab" [onClick]="work">Fab</xui-button>
  <xui-button color="primary" type="icon"><xui-icon>menu</xui-icon></xui-button>
  <xui-button color="success" type="raised" shine [onClick]="work">Raised Shine</xui-button>
  <xui-button color="success" type="raised" shine (click)="counter = counter + 1">
    <xui-icon>shield-crown</xui-icon>
    Raised Shine
  </xui-button>
</div>
Counter <strong>{{ counter }}</strong>
