<div class="flex-container">
  <xui-button color="primary" type="normal">Primary</xui-button>
  <xui-button color="primary-alt" type="normal">Primary Alternative</xui-button>
  <xui-button color="secondary" type="normal">Secondary</xui-button>
  <xui-button color="error" type="normal">Error</xui-button>
  <xui-button color="minimal" type="normal">Minimal</xui-button>
</div>
<div class="flex-container">
  <xui-button color="primary" (click)="clickOnDisabled()" disabled>Primary</xui-button>
  <xui-button color="primary-alt" disabled>Primary Alternative</xui-button>
  <xui-button color="secondary" disabled>Secondary</xui-button>
  <xui-button color="error" disabled>Error</xui-button>
  <xui-button color="minimal" disabled>Minimal</xui-button>
</div>
<div class="flex-container">
  <xui-button color="primary" type="raised">Primary</xui-button>
  <xui-button color="primary-alt" type="raised">Primary Alternative</xui-button>
  <xui-button color="secondary" type="raised">Secondary</xui-button>
  <xui-button color="error" type="raised">Error</xui-button>
</div>
<div class="flex-container">
  <xui-button color="primary" type="raised" disabled>Primary</xui-button>
  <xui-button color="primary-alt" type="raised" disabled>Primary Alternative</xui-button>
  <xui-button color="secondary" type="raised" disabled>Secondary</xui-button>
  <xui-button color="error" type="raised" disabled>Error</xui-button>
</div>
<div class="flex-container">
  <xui-button color="primary" type="dashed">Primary</xui-button>
  <xui-button color="primary-alt" type="dashed">Primary Alternative</xui-button>
  <xui-button color="secondary" type="dashed">Secondary</xui-button>
  <xui-button color="error" type="dashed">Error</xui-button>
</div>
