<h4>Getting Started</h4>

<xui-card>
  <h6>What is xUI?</h6>
  <p>
    xUI is a customizable Angular 15 UI Library with gaming look which can be easily adapted to your brand. Contains
    default dark and light theme and also SCSS functions to generate your own theme in few steps. Which can be also
    switch on runtime.
  </p>
</xui-card>

<xui-card>
  <h6>What you will get?</h6>
  <ul>
    <li><b>Light and Dark</b> default themes easily customizable</li>
    <li><b>27+ Angular UI Components</b> ready to be used</li>
    <li><b>Great Theming Engine</b> - creating new components just in few steps</li>
    <li><b>Configurable Options</b> - tweaking the components in various ways</li>
    <li>
      <b>Material Design Icons</b> - ready to be used
      <a href="https://mdisearch.com/" target="_blank" rel="nofollow noopener noreferrer">MDI Search</a>
    </li>
  </ul>
</xui-card>

<xui-card>
  <h6>Installation</h6>
  <p>Package can be installed by <b>yarn</b> <code>yarn add xui</code> or by <b>npm</b> <code>npm install xui</code></p>
</xui-card>
