<h5>Components Overview</h5>

<div class="category">
  <h6>General</h6>
  <div class="box" routerLink="/button">
    <xui-icon>gesture-tap-button</xui-icon>
    Button
  </div>
  <div class="box" routerLink="/icon">
    <xui-icon>simple-icons</xui-icon>
    Icon
  </div>
  <div class="box" routerLink="/decagram">
    <xui-icon>decagram</xui-icon>
    Decagram
  </div>
  <div class="box" routerLink="/typography">
    <xui-icon>format-size</xui-icon>
    Typography
  </div>
  <div class="box" routerLink="/settings">
    <xui-icon>minus</xui-icon>
    Settings
  </div>
</div>

<!--<div class="category">-->
<!--  <h6>Data Entry</h6>-->
<!--  <div class="box">TODO</div>-->
<!--  <div class="box">TODO</div>-->
<!--  <div class="box">TODO</div>-->
<!--  <div class="box">TODO</div>-->
<!--  <div class="box">TODO</div>-->
<!--  <div class="box">TODO</div>-->
<!--</div>-->
