<h5>Components Overview</h5>

<div class="category">
  <h6>General</h6>
  <div class="box" routerLink="/button">
    <xui-icon>gesture-tap-button</xui-icon>
    Button
  </div>
  <div class="box" routerLink="/toggle">
    <xui-icon>bell-off</xui-icon>
    Toggle
  </div>
  <div class="box" routerLink="/icon">
    <xui-icon>simple-icons</xui-icon>
    Icon
  </div>
  <div class="box" routerLink="/decagram">
    <xui-icon>decagram</xui-icon>
    Decagram
  </div>
  <div class="box" routerLink="/typography">
    <xui-icon>format-size</xui-icon>
    Typography
  </div>
  <div class="box" routerLink="/settings">
    <xui-icon>cog</xui-icon>
    Settings
  </div>
</div>

<div class="category">
  <h6>Layout</h6>
  <div class="box" routerLink="/layout">
    <xui-icon>page-layout-body</xui-icon>
    Layout
  </div>
  <div class="box" routerLink="/divider">
    <xui-icon>minus</xui-icon>
    Divider
  </div>
</div>

<div class="category">
  <h6>Navigation</h6>
  <div class="box" routerLink="/breadcrumb">
    <xui-icon>bread-slice-outline</xui-icon>
    Breadcrumb
  </div>
  <div class="box" routerLink="/context-menu">
    <xui-icon>archive-outline</xui-icon>
    Context Menu
  </div>
</div>

<div class="category">
  <h6>Data Entry</h6>
  <div class="box" routerLink="/checkbox">
    <xui-icon>checkbox-marked-outline</xui-icon>
    Checkbox
  </div>
  <div class="box" routerLink="/switch">
    <xui-icon>toggle-switch-outline</xui-icon>
    Switch
  </div>
  <div class="box" routerLink="/radio-list">
    <xui-icon>list-box</xui-icon>
    Radio List
  </div>
  <div class="box" routerLink="/input">
    <xui-icon>form-textbox</xui-icon>
    Input
  </div>
  <div class="box" routerLink="/textarea">
    <xui-icon></xui-icon>
    Textarea
  </div>
  <div class="box" routerLink="/select">
    <xui-icon>form-select</xui-icon>
    Select
  </div>
  <div class="box" routerLink="/slider">
    <xui-icon>color-helper</xui-icon>
    Slider
  </div>
  <div class="box" routerLink="/image-upload">
    <xui-icon>cloud-upload-outline</xui-icon>
    Image Upload
  </div>
</div>

<div class="category">
  <h6>Data Display</h6>
  <div class="box" routerLink="/banner">
    <xui-icon>information-variant</xui-icon>
    Banner
  </div>
  <div class="box" routerLink="/card">
    <xui-icon>card-bulleted-outline</xui-icon>
    Card
  </div>
  <div class="box" routerLink="/status">
    <xui-icon></xui-icon>
    Status
  </div>
  <div class="box" routerLink="/table">
    <xui-icon>table</xui-icon>
    Table
  </div>
  <div class="box" routerLink="/tabs">
    <xui-icon>tab</xui-icon>
    Tabs
  </div>
  <div class="box" routerLink="/tooltip">
    <xui-icon>tooltip-outline</xui-icon>
    Tooltip
  </div>
  <div class="box" routerLink="/snackbar">
    <xui-icon></xui-icon>
    Snackbar
  </div>
</div>

<div class="category">
  <h6>Feedback</h6>
  <div class="box" routerLink="/progress">
    <xui-icon>table-row</xui-icon>
    Progress
  </div>
  <div class="box" routerLink="/spinner">
    <xui-icon>progress-helper</xui-icon>
    Spinner
  </div>
</div>
