.info {
  --bg-color: var(--info-color-default-rgb);
}

.error {
  --bg-color: var(--error-color-default-rgb);
}

.success {
  --bg-color: var(--success-color-default-rgb);
}

.background {
  display: grid;
  place-items: center;
  width: 300px;
  height: 100px;

  border-radius: 4px;
  border: 1px solid rgba(var(--bg-color), 0.4);
  background-color: rgba(var(--bg-color), 0.15);
}
