.info {
  --bg-color: var(--color-info-default-lch);
}

.error {
  --bg-color: var(--color-error-default-lch);
}

.success {
  --bg-color: var(--color-success-default-lch);
}

.background {
  display: grid;
  place-items: center;
  width: 300px;
  height: 100px;

  border-radius: 4px;
  border: 1px solid oklch(var(--bg-color) / 0.4);
  background-color: oklch(var(--bg-color) / 0.15);
}
