@use '../../../../../libs/xui/src/index' as xui;

:host {
  display: flex;
  width: 100%;
  height: 100vh;

  @include xui.fill(primary);
}

xui-sider {
  @include xui.fill(secondary);

  .logo {
    flex: 0 0 auto;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 800;

    cursor: pointer;
  }
}

.x-logo {
  color: var(--color-primary-default);
}

xui-header {
  @include xui.fill(secondary-alt);

  justify-content: space-between;
  padding: 0 32px;
  font-size: 18px;
  font-weight: 700;

  .theme-picker {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

xui-content {
  min-height: 0;

  .content {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    overflow-y: auto;
  }
}

xui-footer {
  @include xui.fill(secondary-alt);
  justify-content: center;
}

xui-card {
  width: 400px;
  height: 400px;
}

s {
  color: black;
  opacity: 0.4;
}

dialog {
  width: 100%;
  height: 100%;
}
