@use 'sass:map';
@use '../styles';

$background: map.get(styles.$theme, background);

:host {
  display: flex;
  width: 100%;
  height: 100vh;

  color: var(--text-normal);
  background-color: map.get($background, primary);
}

xui-sider {
  background-color: map.get($background, secondary);

  .logo {
    flex: 0 0 auto;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 800;

    .x {
      color: var(--red-color);
    }

    .u {
      color: var(--green-color);
    }

    .i {
      color: var(--blue-color);
    }
  }
}

xui-header {
  justify-content: space-between;
  color: white;
  background-color: map.get($background, secondary-alt);
  padding: 0 32px;
  font-size: 18px;
  font-weight: 700;
}

xui-content {
  min-height: 0;

  .content {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 130px;
    overflow-y: auto;
  }
}

xui-footer {
  background-color: map.get($background, secondary-alt);
  justify-content: center;
}

xui-card {
  width: 400px;
  height: 400px;
}

s {
  color: black;
  opacity: 0.4;
}
