:host {
  display: flex;
  width: 100%;
  height: 100vh;
}

// https://coolors.co/d0ccd0-fbfcff-605856-1c6e8c-274156
$color1: #d0ccd0;
$color2: #fbfcff;
$color3: #605856;
$color4: #1c6e8c;
$color5: #274156;

xui-sider {
  background: $color1;

  .logo {
    flex: 0 0 auto;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 800;

    .x {
      color: $color5;
    }

    .u {
      color: $color3;
    }

    .i {
      color: $color4;
    }
  }
}

xui-header {
  justify-content: space-between;
  color: $color2;
  background: $color4;
  padding: 0 32px;
  font-size: 18px;
  font-weight: 700;
}

xui-content {
  background: $color2;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 130px;
}

xui-footer {
  color: $color2;
  background-color: $color5;
  justify-content: center;
}

xui-card {
  width: 400px;
  height: 400px;
}
