<h1>Context Menu</h1>

<app-example>
  <xui-context-menu cdkMenu>
    <xui-button cdkMenuItem>Profile <xui-icon>account</xui-icon></xui-button>
    <hr />
    <xui-button cdkMenuItem (click)="counter = counter + 1">Counter++</xui-button>
    <xui-button cdkMenuGroup>ASDF</xui-button>
    <xui-button color="error" cdkMenuItem>
      Delete
      <xui-icon>delete-outline</xui-icon>
    </xui-button>
  </xui-context-menu>

  <ng-template #menu>
    <xui-context-menu cdkMenu>
      <xui-button cdkMenuItem [onClick]="increase">Countter++</xui-button>
      <xui-button cdkMenuItem>Bar <xui-icon>account</xui-icon></xui-button>
      <hr />
      <xui-button cdkMenuItem>ASDF</xui-button>
      <xui-button cdkMenuItem [cdkMenuTriggerFor]="innerMenu">
        Inner Menu
        <xui-icon>chevron-right</xui-icon>
      </xui-button>
    </xui-context-menu>
  </ng-template>

  <ng-template #innerMenu>
    <xui-context-menu cdkMenu>
      <xui-button cdkMenuItem>Foo</xui-button>
      <xui-button cdkMenuItem>Bar <xui-icon>account</xui-icon></xui-button>
      <hr />
      <xui-button cdkMenuItem>ASDF</xui-button>
      <xui-button cdkMenuItem (click)="counter = counter + 1">Counter++</xui-button>
    </xui-context-menu>
  </ng-template>

  <xui-button [cdkMenuTriggerFor]="menu">Open Menu</xui-button>
  {{ counter }}
</app-example>
