@use '@xui/theme-core' as xui;

$theme: xui.define-dark-theme(
  (
    color: (
      primary: xui.define-palette(xui.generate-palette(55.88% 0.154 252.84)),
      primary-alt: xui.define-palette(xui.$purple-palette),
      secondary: xui.define-palette(xui.$orange-palette)
    )
  )
);

@include xui.all-root-variables($theme);
@include xui.typography-default-font();
