@use '@xui/theme-core' as xui;

$theme: xui.define-dark-theme(
  (
    color: (
      //primary: xui.define-palette(xui.generate-palette(#1f75cb)),
      primary: xui.define-palette(xui.generate-palette(0.141 258), 500, 100, 600),
      primary-alt: xui.define-palette(xui.$purple-palette),
      secondary: xui.define-palette(xui.$orange-palette)
    )
  )
);

@include xui.all-root-variables($theme);
