@use '@xui/theme-core';

:host {
  grid-column: 1 / -1;
}

xui-card {
  padding: 24px 0;
  @include theme-core.fill(floating);
}

h6 {
  margin-top: 24px;
}

::ng-deep app-infomation code {
  width: fit-content;
  padding: 12px 24px;
}
