:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.info {
  grid-column: span 2;
}

app-usage {
  grid-column: span 2;
}

.button-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
