<div class="info">
  <h4>Button</h4>
  <pre>Button is a clickable component.</pre>
</div>

<app-example>
  <div>
    <button xui xColor="primary" xType="normal" [xClick]="work">Normal</button>
    <button xui xColor="primary" xType="raised" [xClick]="work">Raised</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Dashed</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Stroked</button>
    <button xui xColor="primary" xType="fab" [xClick]="work">Fab</button>
    <button xui xColor="primary" xType="icon">Icon</button>
    <button xui xColor="success" xType="raised" xShine [xClick]="work">Raised Shine</button>
    <button xui xColor="success" xType="raised" xShine [xClick]="work">
      <xui-icon>shield-crown</xui-icon>
      Raised Shine
    </button>
  </div>
</app-example>

<app-example>
  <div class="button-grid">
    <button xui xColor="primary" xType="normal" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="normal" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="normal" xSize="lg">Normal Large</button>

    <button xui xColor="primary" xType="raised" xSize="sm">Raised Small</button>
    <button xui xColor="primary" xType="raised" xSize="md">Raised Medium</button>
    <button xui xColor="primary" xType="raised" xSize="lg">Raised Large</button>

    <button xui xColor="primary" xType="dashed" xSize="sm">Dashed Small</button>
    <button xui xColor="primary" xType="dashed" xSize="md">Dashed Medium</button>
    <button xui xColor="primary" xType="dashed" xSize="lg">Dashed Large</button>

    <button xui xColor="primary" xType="fab" xSize="sm">Fab Small</button>
    <button xui xColor="primary" xType="fab" xSize="md">Fab Medium</button>
    <button xui xColor="primary" xType="fab" xSize="lg">Fab Large</button>

    <button xui xColor="minimal" xSize="sm">Minimal Small</button>
    <button xui xColor="minimal" xSize="md">Minimal Medium</button>
    <button xui xColor="minimal" xSize="lg">Minimal Large</button>
  </div>
</app-example>

<app-example>
  <div>
    <button xui xColor="primary" xType="normal">Primary</button>
    <button xui xColor="primary-alt" xType="normal">Primary Alternative</button>
    <button xui xColor="secondary" xType="normal">Secondary</button>
    <button xui xColor="error" xType="normal">Error</button>
    <button xui xColor="minimal" xType="normal">Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" disabled>Primary</button>
    <button xui xColor="primary-alt" disabled>Primary Alternative</button>
    <button xui xColor="secondary" disabled>Secondary</button>
    <button xui xColor="error" disabled>Error</button>
    <button xui xColor="minimal" disabled>Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" xType="raised">Primary</button>
    <button xui xColor="primary-alt" xType="raised">Primary Alternative</button>
    <button xui xColor="secondary" xType="raised">Secondary</button>
    <button xui xColor="error" xType="raised">Error</button>
  </div>
  <div>
    <button xui xColor="primary" xType="raised" disabled>Primary</button>
    <button xui xColor="primary-alt" xType="raised" disabled>Primary Alternative</button>
    <button xui xColor="secondary" xType="raised" disabled>Secondary</button>
    <button xui xColor="error" xType="raised" disabled>Error</button>
  </div>
  <div>
    <button xui xColor="primary" xType="dashed">Primary</button>
    <button xui xColor="primary-alt" xType="dashed">Primary Alternative</button>
    <button xui xColor="secondary" xType="dashed">Secondary</button>
    <button xui xColor="error" xType="dashed">Error</button>
  </div>
</app-example>

<app-example>
  <xui-button-group>
    <button xui xColor="primary" xType="raised" [xClick]="work">First</button>
    <button xui xColor="primary" xType="raised" [xClick]="work" disabled>Second</button>
    <button xui xColor="primary" xType="raised" [xClick]="work">Third</button>
  </xui-button-group>
  <xui-button-group>
    <button xui xColor="primary" xType="dashed" [xClick]="work">First</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Second</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Third</button>
  </xui-button-group>
  <xui-button-group>
    <button xui xColor="primary" xType="stroked" [xClick]="work">First</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Second</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Third</button>
  </xui-button-group>
</app-example>

<app-usage [usage]="usage"></app-usage>
