<h1>Button</h1>

<pre>Button is a clickable component.</pre>
<pre>TODO: FAB and ICON button are not working yet.</pre>

<xui-card title="Button Type">
  <button xui-button xColor="primary" xType="normal">Normal</button>
  <button xui-button xColor="primary" xType="raised">Raised</button>
  <button xui-button xColor="primary" xType="dashed">Dashed</button>
  <button xui-button xColor="primary" xType="fab">Fab</button>
  <button xui-button xColor="primary" xType="icon">Icon</button>
</xui-card>

<xui-card title="Button Size" class="column">
  <div>
    <button xui-button xColor="primary" xType="normal" xSize="sm">
      Normal Small
    </button>
    <button xui-button xColor="primary" xType="normal" xSize="md">
      Normal Medium
    </button>
    <button xui-button xColor="primary" xType="normal" xSize="lg">
      Normal Large
    </button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="raised" xSize="sm">
      Normal Small
    </button>
    <button xui-button xColor="primary" xType="raised" xSize="md">
      Normal Medium
    </button>
    <button xui-button xColor="primary" xType="raised" xSize="lg">
      Normal Large
    </button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="dashed" xSize="sm">
      Normal Small
    </button>
    <button xui-button xColor="primary" xType="dashed" xSize="md">
      Normal Medium
    </button>
    <button xui-button xColor="primary" xType="dashed" xSize="lg">
      Normal Large
    </button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="fab" xSize="sm">
      Normal Small
    </button>
    <button xui-button xColor="primary" xType="fab" xSize="md">
      Normal Medium
    </button>
    <button xui-button xColor="primary" xType="fab" xSize="lg">
      Normal Large
    </button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="icon" xSize="sm">
      Normal Small
    </button>
    <button xui-button xColor="primary" xType="icon" xSize="md">
      Normal Medium
    </button>
    <button xui-button xColor="primary" xType="icon" xSize="lg">
      Normal Large
    </button>
  </div>
</xui-card>

<xui-card title="Button Color" class="column">
  <div>
    <button xui-button xColor="primary" xType="normal">Primary</button>
    <button xui-button xColor="primary-alt" xType="normal">
      Primary Alternative
    </button>
    <button xui-button xColor="secondary" xType="normal">Secondary</button>
    <button xui-button xColor="destructive" xType="normal">Destructive</button>
    <button xui-button xColor="neutral" xType="normal">Neutral</button>
    <button xui-button xColor="primary" xType="normal" disabled>
      Disabled
    </button>
    <button xui-button xColor="minimal" xType="normal">Minimal</button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="raised">Primary</button>
    <button xui-button xColor="primary-alt" xType="raised">
      Primary Alternative
    </button>
    <button xui-button xColor="secondary" xType="raised">Secondary</button>
    <button xui-button xColor="destructive" xType="raised">Destructive</button>
    <button xui-button xColor="neutral" xType="raised">Neutral</button>
    <button xui-button xColor="primary" xType="raised" disabled>
      Disabled
    </button>
    <button xui-button xColor="minimal" xType="raised">Minimal</button>
  </div>
  <div>
    <button xui-button xColor="primary" xType="dashed">Primary</button>
    <button xui-button xColor="primary-alt" xType="dashed">
      Primary Alternative
    </button>
    <button xui-button xColor="secondary" xType="dashed">Secondary</button>
    <button xui-button xColor="destructive" xType="dashed">Destructive</button>
    <button xui-button xColor="neutral" xType="dashed">Neutral</button>
    <button xui-button xColor="primary" xType="dashed" disabled>
      Disabled
    </button>
    <button xui-button xColor="minimal" xType="dashed">Minimal</button>
  </div>
</xui-card>
