:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.info {
  grid-column: span 2;
}

div > button[xui] {
  margin-right: 8px;
  margin-bottom: 12px;
}

xui-button-group {
  margin-bottom: 12px;
}

app-usage {
  grid-column: span 2;
}
