<div class="info">
  <h1>Button</h1>

  <pre>Button is a clickable component.</pre>
  <pre>TODO: FAB and ICON button are not working yet.</pre>
</div>

<app-example>
  <div>
    <button xui xColor="primary" xType="normal" [xClick]="work">Normal</button>
    <button xui xColor="primary" xType="raised" [xClick]="work">Raised</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Dashed</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Stroked</button>
    <button xui xColor="primary" xType="fab" [xClick]="work">Fab</button>
    <button xui xColor="primary" xType="icon">Icon</button>
  </div>
</app-example>

<app-example>
  <div>
    <button xui xColor="primary" xType="normal" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="normal" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="normal" xSize="lg">Normal Large</button>
  </div>
  <div>
    <button xui xColor="primary" xType="raised" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="raised" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="raised" xSize="lg">Normal Large</button>
  </div>
  <div>
    <button xui xColor="primary" xType="dashed" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="dashed" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="dashed" xSize="lg">Normal Large</button>
  </div>
  <div>
    <button xui xColor="primary" xType="fab" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="fab" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="fab" xSize="lg">Normal Large</button>
  </div>
  <div>
    <button xui xColor="primary" xType="icon" xSize="sm">Normal Small</button>
    <button xui xColor="primary" xType="icon" xSize="md">Normal Medium</button>
    <button xui xColor="primary" xType="icon" xSize="lg">Normal Large</button>
  </div>
</app-example>

<app-example>
  <div>
    <button xui xColor="primary" xType="normal">Primary</button>
    <button xui xColor="primary-alt" xType="normal">Primary Alternative</button>
    <button xui xColor="secondary" xType="normal">Secondary</button>
    <button xui xColor="error" xType="normal">Error</button>
    <button xui xColor="neutral" xType="normal">Neutral</button>
    <button xui xColor="minimal" xType="normal">Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" disabled>Primary</button>
    <button xui xColor="primary-alt" disabled>Primary Alternative</button>
    <button xui xColor="secondary" disabled>Secondary</button>
    <button xui xColor="error" disabled>Error</button>
    <button xui xColor="neutral" disabled>Neutral</button>
    <button xui xColor="minimal" disabled>Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" xType="raised">Primary</button>
    <button xui xColor="primary-alt" xType="raised">Primary Alternative</button>
    <button xui xColor="secondary" xType="raised">Secondary</button>
    <button xui xColor="error" xType="raised">Error</button>
    <button xui xColor="neutral" xType="raised">Neutral</button>
    <button xui xColor="minimal" xType="raised">Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" xType="raised" disabled>Primary</button>
    <button xui xColor="primary-alt" xType="raised" disabled>Primary Alternative</button>
    <button xui xColor="secondary" xType="raised" disabled>Secondary</button>
    <button xui xColor="error" xType="raised" disabled>Error</button>
    <button xui xColor="neutral" xType="raised" disabled>Neutral</button>
    <button xui xColor="minimal" xType="raised" disabled>Minimal</button>
  </div>
  <div>
    <button xui xColor="primary" xType="dashed">Primary</button>
    <button xui xColor="primary-alt" xType="dashed">Primary Alternative</button>
    <button xui xColor="secondary" xType="dashed">Secondary</button>
    <button xui xColor="error" xType="dashed">Error</button>
    <button xui xColor="neutral" xType="dashed">Neutral</button>
    <button xui xColor="minimal" xType="dashed">Minimal</button>
  </div>
</app-example>

<app-example>
  <xui-button-group>
    <button xui xColor="primary" xType="raised" [xClick]="work">First</button>
    <button xui xColor="primary" xType="raised" [xClick]="work" disabled>Second</button>
    <button xui xColor="primary" xType="raised" [xClick]="work">Third</button>
  </xui-button-group>
  <xui-button-group>
    <button xui xColor="primary" xType="dashed" [xClick]="work">First</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Second</button>
    <button xui xColor="primary" xType="dashed" [xClick]="work">Third</button>
  </xui-button-group>
  <xui-button-group>
    <button xui xColor="primary" xType="stroked" [xClick]="work">First</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Second</button>
    <button xui xColor="primary" xType="stroked" [xClick]="work">Third</button>
  </xui-button-group>
</app-example>

<app-usage [usage]="usage"></app-usage>
