<app-infomation title="Select">
  <pre>Select is used to let user choose one from multiple options</pre>

  <code apiReference highlight="import { XuiSelectModule } from 'xui';"></code>
</app-infomation>

<app-example>
  <xui-select>
    <xui-option value="option1" disabled>Option 1 Disabled</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>

  <xui-select color="dark" [formControl]="model">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>
  {{ model.value }}

  <xui-select color="dark" disabled placeholder="Disabled">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>

  <xui-select disabled placeholder="Disabled">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>
</app-example>
