.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  padding: 8px;

  xui-icon {
    cursor: pointer;

    &:hover {
      color: var(--primary-color-default);
    }
  }

  .todo {
    padding: 2px 4px;
    margin-right: 12px;

    color: var(--error-color-default-contrast);
    background-color: var(--error-color-default);
    border-radius: 4px;

    font-weight: 700;
  }
}
