:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.popover-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  xui-button {
    align-self: flex-end;
  }
}
