@use 'sass:map';
@use './highlightjs';
@use '../../../libs/xui/src/index' as xui;
@use '../../../libs/xui/src/theming/xui.theme' as xui-theme;

$color: (
  primary: xui.define-palette(xui.generate-palette(#1f75cb)),
  primary-alt: xui.define-palette(xui-theme.$purple-palette),
  secondary: xui.define-palette(xui-theme.$orange-palette)
);

$theme: xui.define-dark-theme(
  (
    color: $color
  )
);

@include xui.core();
@include xui.default-typographies();
@include xui.typography-hierarchy();

code {
  font-family: Consolas, Monospaced, sans-serif;
  font-size: 10pt;
  user-select: text;

  color: var(--primary-color-default);
  background-color: var(--background-color-tertiary);
  padding: 0.125em 0.5em;
  margin: 0 0.25em;
  border-radius: 3px;
}
