@use 'sass:map';
@use '../../../libs/xui/src/themes/default';
@use './highlightjs';
@use '../../../libs/xui/src/index' as xui;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
//there's a bug when space is encoded in string it wont compile
//@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono&display=swap');

$theme: xui.define-dark-theme(
  (
    primary: xui.define-palette(xui.$blue-palette),
    primary-alt: xui.define-palette(xui.$purple-palette),
    secondary: xui.define-palette(xui.$orange-palette)
  )
);

$themeOld: (
  primary: #1c6e8c,
  primary-alt: #274156,
  secondary: #605856,
  destructive: #b00020,
  neutral: #d0ccd0,
  colors: (
    blue: #00aeff,
    green: #00a859,
    purple: #6e53a3,
    red: #f13c45,
    orange: #f8961d,
    offblack: #333333
  )
);

@include xui.core();
@include xui.all-component-themes($theme);
@include xui.all-color-variables($theme);

html,
pre {
  font-family: 'Rubik';
}

code {
  $background: map.get($theme, background);
  background-color: map.get($background, secondary-alt) !important;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px !important;

  user-select: text;
}
