@use './highlightjs';
@use '../../../libs/xui/src' as xui-theme;
//  with (
//  $enable-rounded: true,
//  $banner-stamp-border-radius: 20px,
//  $button-border-radius: 8px,
//  $card-border-radius: 12px,
//  $card-background-color: (default, success),
//  $context-menu-border-radius: 12px
//);

@include xui-theme.theme();

// end user should be able to change swatches/colors but the overall theme such as border-radius should be compile time

code {
  font-family: Consolas, Monospaced, sans-serif;
  font-size: 10pt;
  user-select: text;

  color: var(--color-primary-default);
  background-color: var(--color-bg-tertiary);
  padding: 0.125em 0.5em;
  margin: 0 0.25em;
  border-radius: 3px;
}
