@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik';
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: 'Inconsolata';
  font-weight: 600;
}
