:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.category {
  display: grid;
  row-gap: 32px;
  column-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;

  padding-right: 240px;
}

h6 {
  grid-column: span 3;
  text-align: center;
}

.box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  aspect-ratio: 2 / 1;
  cursor: pointer;

  font-weight: 500;

  background-color: var(--color-bg-floating);
  border-radius: 5px;

  &:hover {
    background-color: var(--color-bg-tertiary);
  }

  .x-icon {
    flex: 0;
    font-size: 80px;
  }
}
