<h4>Select</h4>

<app-example>
  <xui-select>
    <xui-option value="option1" disabled>Option 1 Disabled</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>

  <xui-select color="dark" value="option1">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>

  <xui-select color="dark" disabled placeholder="Disabled">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>

  <xui-select disabled placeholder="Disabled">
    <xui-option value="option1">Option 1</xui-option>
    <xui-option value="option2">Option 2</xui-option>
  </xui-select>
</app-example>
