<h1>Select</h1>

<!-- <pre>Button is a clickable component.</pre> -->
<!-- <pre>TODO: FAB and ICON button are not working yet.</pre> -->

<xui-card title="Select">
  <div>
    <!-- <button xui-button xColor="primary" xType="normal" [xClick]="work">
      Normal
    </button>
    <button xui-button xColor="primary" xType="raised" [xClick]="work">
      Raised
    </button>
    <button xui-button xColor="primary" xType="dashed" [xClick]="work">
      Dashed
    </button>
    <button xui-button xColor="primary" xType="stroked" [xClick]="work">
      Stroked
    </button>
    <button xui-button xColor="primary" xType="fab" [xClick]="work">Fab</button>
    <button xui-button xColor="primary" xType="icon">Icon</button> -->
  </div>
</xui-card>
