<div>
  <xui-decagram color="success" icon="check"></xui-decagram>
  <xui-decagram color="error" icon="close"></xui-decagram>
  <xui-decagram color="primary-alt" iconSize="60" icon="construction"></xui-decagram>
  <xui-decagram iconSize="60" icon="handshake"></xui-decagram>
</div>
<div>
  <xui-decagram type="circle" color="success" icon="check"></xui-decagram>
  <xui-decagram type="circle" color="error" icon="close"></xui-decagram>
  <xui-decagram type="circle" iconSize="60" color="primary-alt" icon="construction"></xui-decagram>
  <xui-decagram type="circle" icon="handshake"></xui-decagram>
</div>
<div>
  <xui-decagram type="shield" color="success" icon="check"></xui-decagram>
  <xui-decagram type="shield" color="error" icon="close"></xui-decagram>
  <xui-decagram type="shield" iconSize="60" color="primary-alt" icon="construction"></xui-decagram>
  <xui-decagram type="shield" icon="handshake"></xui-decagram>
</div>
<div>
  <xui-decagram type="triangle" iconSize="45" color="warning" icon="priority_high"></xui-decagram>
  <xui-decagram type="triangle" iconSize="45" icon="handshake"></xui-decagram>
</div>
