xui-layout {
  height: 350px;
}

xui-sider {
  background-color: indianred;
  padding: 8px;
}

xui-header {
  background-color: yellowgreen;
  padding: 8px;
}

xui-content {
  background-color: mediumpurple;
  padding: 12px;
}
