:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
