:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.desc {
  display: flex;
  gap: 8px;
  align-items: center;

  img {
    height: 18px;
    border-radius: 4px;
  }
}
