<div class="button-grid">
  <xui-button color="primary" type="normal" size="small">Normal Small</xui-button>
  <xui-button color="primary" type="normal" size="medium">Normal Medium</xui-button>
  <xui-button color="primary" type="normal" size="large">Normal Large</xui-button>

  <xui-button color="primary" type="raised" size="small">Raised Small</xui-button>
  <xui-button color="primary" type="raised" size="medium">Raised Medium</xui-button>
  <xui-button color="primary" type="raised" size="large">Raised Large</xui-button>

  <xui-button color="primary" type="dashed" size="small">Dashed Small</xui-button>
  <xui-button color="primary" type="dashed" size="medium">Dashed Medium</xui-button>
  <xui-button color="primary" type="dashed" size="large">Dashed Large</xui-button>

  <xui-button color="primary" type="fab" size="small">Fab Small</xui-button>
  <xui-button color="primary" type="fab" size="medium">Fab Medium</xui-button>
  <xui-button color="primary" type="fab" size="large">Fab Large</xui-button>

  <xui-button color="minimal" size="small">Minimal Small</xui-button>
  <xui-button color="minimal" size="medium">Minimal Medium</xui-button>
  <xui-button color="minimal" size="large">Minimal Large</xui-button>
</div>
