.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 12px;
  margin: 0 -24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: var(--color-bg-tertiary);

  .x-icon {
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-default);
    }
  }

  .todo {
    padding: 2px 4px;
    margin-right: 12px;

    color: var(--color-error-default-contrast);
    background-color: var(--color-error-default);
    border-radius: 4px;

    font-weight: 700;
  }
}

xui-card {
  background-color: var(--color-bg-floating);
}

code {
  margin: 0 -24px;
}
