@use '@xui/theme-core';

:host {
  width: 100%;
  height: 100%;

  @include theme-core.fill(primary);
}

::ng-deep .properties {
  .x-panelbar-item-chevron {
    order: -1;
  }

  .x-panelbar-item-title {
    padding: 0;
  }
}

.properties {
  .main-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subtitle {
    margin-left: 32px;
    text-transform: uppercase;

    font-size: 0.7rem;
    //font-weight: 700;
  }

  .color-item {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;

    font-weight: 700;

    .color {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }

    .color-label {
      font-size: 0.8rem;
      font-weight: 400;

      color: theme-core.text-muted();
    }

    xui-button {
      margin-left: auto;
    }
  }
}
