<xui-panelbar class="properties">
  <xui-panelbar-item [expanded]="true">
    <div class="main-title" *xuiPanelBarItemTitle>
      Colors
      <xui-button type="icon"><xui-icon>plus</xui-icon></xui-button>
    </div>
    <div class="subtitle" *xuiPanelBarItemContent>Theme Colors</div>

    @for (item of colors; track item) {
      <xui-panelbar-item>
        <div class="color-item" *xuiPanelBarItemTitle [xuiPopoverTriggerFor]="colorPicker">
          <div class="color" [style.background-color]="item.color"></div>
          {{ item.name }}
          <div class="color-label">{{ item.color }}</div>
          <xui-button type="icon"><xui-icon>dots-horizontal</xui-icon></xui-button>
        </div>
      </xui-panelbar-item>
    }
  </xui-panelbar-item>
</xui-panelbar>

<xui-popover #colorPicker> color picker </xui-popover>
