:host {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

xui-card {
  padding: 24px 0;
  background-color: var(--color-bg-secondary);

  ul {
    margin-left: 24px;
  }
}
