<app-infomation title="Card">
  <pre>Card components</pre>

  <code apiReference highlight="import { XuiCardModule } from 'xui';"></code>
</app-infomation>

<app-example>
  <xui-card title="foobar" [extra]="extra" [actions]="actions">Just like this</xui-card>
</app-example>

<ng-template #extra>
  <xui-button size="sm" color="primary">More</xui-button>
</ng-template>

<ng-template #actions>
  <xui-button type="raised" color="primary">Save</xui-button>
  <xui-button color="error">Discard</xui-button>
</ng-template>
