<xui-button-group>
  <xui-button color="primary" type="raised" [onClick]="work">First</xui-button>
  <xui-button color="primary" type="raised" [onClick]="work" disabled>Second</xui-button>
  <xui-button color="primary" type="raised" [onClick]="work">Third</xui-button>
</xui-button-group>
<xui-button-group>
  <xui-button color="primary" type="dashed" [onClick]="work">First</xui-button>
  <xui-button color="primary" type="dashed" [onClick]="work">Second</xui-button>
  <xui-button color="primary" type="dashed" [onClick]="work">Third</xui-button>
</xui-button-group>
<xui-button-group>
  <xui-button color="primary" type="stroked" [onClick]="work">First</xui-button>
  <xui-button color="primary" type="stroked" [onClick]="work">Second</xui-button>
  <xui-button color="primary" type="stroked" [onClick]="work">Third</xui-button>
</xui-button-group>
<xui-button-group>
  <xui-button color="primary" type="stroked">Close issue</xui-button>
  <xui-button color="primary" type="stroked"><xui-icon icon="menu"></xui-icon></xui-button>
</xui-button-group>
