@use '../../../../../../libs/xui/src/index' as xui;

:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.background {
  display: grid;
  place-items: center;
  width: 300px;
  height: 100px;

  border-radius: 4px;
  @include xui.fill(default, primary);
}
