<h4>Input</h4>
<pre>Input can be used to input user's input</pre>

<app-example>
  <xui-input type="text"></xui-input>
  <xui-input type="text" size="small"></xui-input>
  <xui-input type="text" placeholder="Placeholder"></xui-input>
  <xui-input type="text" color="dark" placeholder="Dark"></xui-input>
  <xui-input type="text" placeholder="Required" [formControl]="errorControl"></xui-input>
  <xui-input type="text" placeholder="Disabled" disabled></xui-input>
  <xui-input type="password" placeholder="Password"></xui-input>
</app-example>

<app-example>
  <xui-input type="text" placeholder="your-website">
    <div xuiPrefix>https://</div>
    <div xuiPostfix>.com</div>
  </xui-input>

  <xui-input type="text" placeholder="Icon">
    <div xuiPrefix>
      <xui-icon>account</xui-icon>
    </div>
  </xui-input>

  <xui-input type="text" placeholder="With Medium Button">
    <div xuiPostfix>
      <xui-button type="raised" size="md">Copy</xui-button>
    </div>
  </xui-input>

  <xui-input type="text" placeholder="With Small Button">
    <div xuiPostfix>
      <xui-button type="raised" size="sm">Copy</xui-button>
    </div>
  </xui-input>
</app-example>

<app-example>
  <xui-input-group>
    <xui-input-addon>https://</xui-input-addon>
    <xui-input type="text" placeholder="First Input"></xui-input>
    <xui-input-addon>.com</xui-input-addon>
  </xui-input-group>

  <xui-input-group xSize="small">
    <xui-input-addon>https://</xui-input-addon>
    <xui-input type="text" placeholder="First Input"></xui-input>
    <xui-input-addon>.com</xui-input-addon>
  </xui-input-group>

  <xui-input-group>
    <xui-input-addon>
      <xui-icon>account</xui-icon>
    </xui-input-addon>
    <xui-input type="text" placeholder="First Input"></xui-input>
  </xui-input-group>
</app-example>

<app-example>
  <xui-textarea></xui-textarea>
  <xui-textarea color="dark" placeholder="Type some text here..."></xui-textarea>
  <xui-textarea [formControl]="textAreaControl" maxLength="120"></xui-textarea>
  <xui-textarea color="dark" disabled value="Disabled"></xui-textarea>
</app-example>
