<app-example>
  <div>
    <xui-decagram color="success">check-bold</xui-decagram>
    <xui-decagram color="error">close-thick</xui-decagram>
    <xui-decagram color="primary-alt">hammer-screwdriver</xui-decagram>
    <xui-decagram>handshake</xui-decagram>
  </div>
  <div>
    <xui-decagram type="circle" color="success">check-bold</xui-decagram>
    <xui-decagram type="circle" color="error">close-thick</xui-decagram>
    <xui-decagram type="circle" color="primary-alt">hammer-screwdriver</xui-decagram>
    <xui-decagram type="circle">handshake</xui-decagram>
  </div>
</app-example>
<app-example>
  <div>
    <xui-decagram style="width: 300px" color="success">check-bold</xui-decagram>
  </div>
</app-example>
